.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 {
    height: 500px; width: 500px;
    position: relative;

}

.symbols {
    height: 500px; width: 500px;
    position: absolute;
    

}

.tabuleiro {
    position: absolute;
}
.p {
    height: 162px; width: 162px;
    position: absolute;
    display: inline-block;
    cursor: pointer;

}
.p:hover {
    background-color: #9b9b9b1e;
}

.p0 {
    left: 0px;
    top: 0px;
}
.p1 {
    left: 169px;
    top: 0px;
}
.p2 {
    left: 338px;
    top: 0px;
}
.p3 {
    left: 0px;
    top: 168px;
}
.p4 {
    left: 169px;
    top: 168px;
}
.p5 {
    left: 338px;
    top: 168px;
}
.p6 {
    left: 0px;
    top: 337px;
}
.p7 {
    left: 169px;
    top: 337px;
}
.p8 {
    left: 338px;
    top: 337px;
}
.endPage {
    height: 100%; width: 100%;
    position: fixed;
    top: 0px;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: #110073ad;
    visibility: visible;
    color: #110073;
}

.red {
    background-color: #570000ad;
    visibility: visible;
    color: #460000;
}
.tie {
    background-color: #808080ad;
    visibility: visible;
    color: #363636;
}

.winner {
    position: fixed;
    top: 380px;
    font-size: 42pt;
    
}

.winnerRed {
    color: #460000;
}

.winnerBlue {
    color: #110073;
}
.winnerTie {
    color: #3d3d3d;
}

.endBlock {
    position: fixed;
    height: 500px; width: 400px;
    top: 280px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BlockRed {
    background-color: #990000;
    
}
.BlockBlue {
    background-color: #2f12d8;

}
.BlockTie {
    background-color: #707070;
}

.playAgain {
    cursor: pointer;
    border: 0px;
    font-size: 12.5pt;
    width: 130px; height: 50px;
    position: fixed;
    top: 580px;
    padding: 15px;
    border-radius: 25px;
}
.playAgainRed {
    background-color: #460000;
    color:  #c47272;
}
.playAgainBlue {
    background-color: #110073;
    color:  #6c61ad;
}
.playAgainTie {
    background-color: #3d3d3d;
    color:  #b0b0b1;
}

.checkbox {
    position: absolute;
    display: inline-block;
    top: 600px;
    font-size: 14pt;
}